body{
    font-family: Nunito;
}
.move{
   margin:2rem;
}
.heading{
    margin-top: 24px;
    background-color: rgba(0,50,255, 0.5);
    border-bottom: 4px solid rgb(0,50,255);
    color:white;
    border-radius: 4px;
    font-size: 2rem;
    padding:16px;
    text-align:center;
}
input{
    padding:.5rem 0.5rem;
    width:100%;
    margin-bottom: 16px;
    border-radius: 2px;
    /* margin:1rem; */
    border: 0;
}
.container{
   overflow: hidden
}

tr{
   transition:all .2s ease-in-out
}
tr:hover{
   background-color:#EEE;
   cursor: pointer 
}
.table{
    padding:30px 32px;
    margin:4px;
}
.tab{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    background-color: rgba(0,50,255, 0.5);
    margin-bottom: 16px;
    padding:16px;
}
label{
    font-size:2rem;
}
.secondheading{
    text-align:center;
    color:white;
}

.btn {
    border: 2px solid white;
    font-weight: 700;
    color: #fff;
    background: transparent;
}

hr{
    opacity: 0.8;
    background: #fff;
}

.card{
    border-top: 3px solid rgba(0,50,255, 1);
}

h4{
    font-weight: 700;
    font-size: 1.2rem;
}